body {
    color: #6c6a6b;
}
a {
    text-decoration: none;
    color: #1b98f8;
}

h1 {
    font-size: 18px;
}

/* Issue #41 */
.pure-g, .pure-g-r {
    font-family: Arial;
}   

/* LAYOUT CSS */
#layout {
    padding-left:500px; /* "left col (nav + list)" width */
    position: relative;
}

#nav, #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    border-left: 1px solid #ddd;
}
#nav {
    margin-left:-500px; /* "left col (nav + list)" width */
    width: 200px;
    background: #f2f2ea; 
    text-align: center;
    padding: 4em 0;
}

#list {
    margin-left: -300px;
    /* width:350px; */
    border-right: 1px solid #ddd;
}

#sidelist {
    border-bottom: 1px solid #ddd;
}

#logo_text {
    color: #aeaaae;
}

.icon {
    padding-right: 7px;
}

#body {
}

#menubar {
    /* border-bottom: 5px solid #de6262;  */
    border-bottom: 0px;
    background-color: #333333;
}

.item {
    font-size: 14px;
    color: #6c6a6b; 
}

/* over write to have horizontal */
.pure-form .pure-radio {
    display: inline;
    padding-left: 10px;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    background-color: #de6262;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/* Vertical Navigation Styles */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        /* background: rgb(55, 60, 90); */
        background-color: #de6262;
        color: white;
    }
    #nav .pure-menu a {
        color: #6c6a6b;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

    #nav .nav-menu-button {
        display: none;
    }

    .email-count {
        color: rgb(75, 113, 151);
    }

    .email-label-personal,
    .email-label-work,
    .email-label-travel {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 0.5em;
        border-radius: 3px;
    }
    .email-label-personal {
        background: #ffc94c;
    }
    .email-label-work {
        background: #41ccb4;
    }
    .email-label-travel {
        background: #40c365;
    }




/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .email-name,
    .email-subject {
        margin: 0;
    }
    .email-name {
        text-transform: uppercase;
        color: #999;
    }
    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #02a3c6;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}
    .email-content-header {
        border-bottom: 1px solid #ddd;
    }

        .email-content-title {
            margin: 0.5em 0 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .email-content-subtitle span {
                color: #999;
            }
    .email-content-controls {
        margin-top: 2em;
     /*   text-align: right; */
    }
        .email-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }


@media (max-width: 867px) {

    #list,
    #main {
        width: 100%;
    }
    #layout {
        padding-left: -150px;
    }
    #list {
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        /*left: 150px;*/
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }
}

@media (max-width: 480px) {
    #layout, #nav, #list, #main {
        position: static;
        margin: 0;
        padding: 0;
    }
    #nav {
        width: 100%;
        height: 40px;
        position: relative;
    }
    #nav .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
    #nav.active {
        height: 80%;
    }
    .nav-inner {
        display: none;
    }
    #nav.active .nav-inner {
        display: block;
    }
    .email-avatar {
        width: 40px;
        height: 40px;
    }
}

/* For top page */
#head {
    padding: 10px;
    height:30px;
    background-color: #3d495f;
    color: #ffffff;
}

#topnavi {
    padding-right: 20px;
    float: right;
}

.pure-menu .pure-menu-selected a {
    color: #ffffff;
}

.pure-menu a {
    color: #777f8f;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: 0px;
}

#content .pure-g-r .header {
    height: 50px;
}

#wall {
    height: 400px;
    background-color: #e26a6a;
    color: #ffffff;
}

#background {
    background-color: #e26a6a;
    color: #ffffff;
}

#background legend{
    color: #ffffff;
}

h1 {
    display: inline;
    color: #ffffff;
}

#in_wall {
    margin: 30px;
    text-align:center;
}

#in_wall i {
    font-size: 300px;
}

#form {
    background-color: #e98f8f;
    padding: 15px;
    margin: 25px;
    margin-right: 45px;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.pure-button-primary {
    background: #bad664; 
    font-weight:bold;
}

.pure-button-success {
    background: #5fafca;
    color: white;
    font-weight:bold;
}

#footer {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    color: #5a2a2a;
}

/* For Form */

#menubar {
    background-color: #333333;
    color: #ffffff;
}

.category {
    padding: 15px;
}
.white_bg {
    background-color: white;
}

#title {
    font-size: 24px;
    background-color: #f7f6f2; 
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    border-top: 5px solid #e26a6a;
}

#main_view{
    padding-top: 50px;
}

#checkbox_view {
    width: 80%;
    padding: 15px;
}

#checkbox_view label{
    display: inline-block;
    width: 100px;
    font-size: 12px;
}

