.navbar {
    background: #3d495f;
    margin-bottom: 0px;
}

.logo a {
    color: #fff;
    font-family: "Arial";
    font-weight: bold;
    font-size: 18px;
}

.navbar a.toggle {
    background: #3d495f
}

.full-width {
    width: 100%;
    max-width: none;
    max-width: none;
    background: #e26a6a;
    margin-top: 0px;
    color: #fff;
}


#form {
    background-color: #e98f8f;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* green button */
#login-button{
    color: #fff;
    background-color: #5fca5f;
    border: 0 rgba(0,0,0,0);
    font-weight: 100;
    width: 120px;
}

/* pink button */
#submit {
    color: #fff;
    background-color: #de6262;
    border: 0 rgba(0,0,0,0);
    font-weight: 100;
    width: 120px;
}

/* green button */
#register-button {
    background: #5fafca;
    color: white;
    border: 0 rgba(0,0,0,0);
    margin-left: 10px;
    font-weight: 100;
    width: 120px;
}

#register-button a:link,a:visited  {
    color: #fff;
} 

.category {
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar-nav{
    font-weight:bold;
    padding: 20px;
}

#sidebar-nav li {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 18px;
    color: #555555;
}

#sidebar-nav li:hover,
#sidebar-nav li:focus {
    background-color: #de6262;
    color: #fff;
}

#contents .row, .navbar .row {
    width: 100%;
    max-width: none;
    max-width: none;
    padding: 0px;
}

body {
    background-color: #f2f2ea;
}


.navbar .row h1 {
    padding-left: 25px;
}


#take_note {
    padding: 10px;
    margin: 15px;
    width: 180px;
    background: #5fafca;
    border: 0 rgba(0,0,0,0);
}

/* form  */

.page .page-radio {
    display: inline;
    padding-left: 10px;
}

#title {
    font-size: 18px;
    background-color: #f7f6f2; 
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    border-top: 5px solid #e26a6a;
}

#body {
    background-color: #f2f2f0;
    border-left: 1px solid #ddd;
}

#checkbox_view {
    padding: 5px;
}

#checkbox_view .pure-checkbox{
    white-space: nowrap;
}

.meal-checkbox {
    display: inline-block;
    width: 90px;
    font-size: 12px;
}

form fieldset{
    padding:0px;
    border-style: none;
}

#memo {
    width: 100%
}

#graph-container{
    padding: 15px;
}

#submit_notes{
    text-align: center;
}
